.rsdr_parent-container button,
select,
input {
  border: none;
}

.rsdr_parent-container button {
  background: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  cursor: pointer;
  height: auto;
}

.rsdr_parent-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin: 16px;
  font-size: 16px;
  color: black !important;
}

.rsdr_input-group {
  position: relative;
  display: flex;
  margin-bottom: 8px;
}

.rsdr_input-group svg {
  position: absolute;
  left: 8px;
  height: 32px;
  width: 24px;
  top: 2.4px;
  color: #444;
}

.rsdr_input {
  width: 100%;
  height: 32px;
  border-radius: 9.6px;
  padding: 0px 8px 0px 40px;
  border: 3px solid #ccc;
}

.rsdr_input:focus {
  border: 3px solid;
  outline: none;
}

.rsdr_container {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  position: relative;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  display: flex;
  flex-direction: column;
}

.rsdr_header {
  height: 48px;
  border-radius: 16px 16px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
  color: #555;
}

.rsdr_selector > * + * {
  margin-left: 16px;
}

.rsdr_selector select {
  background-color: #fff;
  color: black !important;
  padding: 6.4px 12.8px;
  border-radius: 8px;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
}

.rsdr_selector select:hover {
  background-color: #fbfbfb;
}

.rsdr_month-arrow {
  padding: 6.4px 6.4px;
  border-radius: 6.4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  font-weight: 900;
  color: black;
}

.rsdr_month-arrow svg {
  width: 16px;
  height: 16px;
}

.rsdr_calendar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.rsdr_calendar > * + * {
  margin-top: 6.4px;
}

.rsdr_calendar-header {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  width: 100%;
  height: 32px;
  font-size: 12.8px;
  font-weight: 800;
  text-transform: uppercase;
}

.rsdr_daypicker {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-auto-rows: minmax(0, 1fr);
  width: 100%;
  height: 100%;
  position: relative;
  font-weight: 400;
  color: #555;
}

.rsdr_header-weekday {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rsdr_cell {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 8px;
  border-radius: 9.6px;
  cursor: pointer;
}

.rsdr_range-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 8px;
  cursor: pointer;
  background-color: #ffffff;
}

.rsdr_cell:not(.rsdr_disabled):not(.rsdr_active):hover {
  background-color: #f8fafc;
}

.rsdr_range-cell:not(.rsdr_disabled):not(.rsdr_active):hover {
  background-color: #f8fafc;
  border-radius: 8px;
}

.rsdr_disabled {
  color: #ccc;
  cursor: default;
}
